:root {
  /* scrollbars colors */
  --play-ttc-c-thumb: #eee;
  --play-ttc-c-track: white;
}

.dark {
  color-scheme: dark;
  background: #080808;
  color: white;
  /* scrollbars colors */
  --play-ttc-c-thumb: #222;
  --play-ttc-c-track: #111;
}

[icon-btn=""] {
  --at-apply: text-xl op75 hover:op100;
}


::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 2147483646;
}

.dark::view-transition-old(root) {
  z-index: 2147483646;
}

.dark::view-transition-new(root) {
  z-index: 1;
}